
<div id="iframeContainer">
<div id='imageholder'>
<img src='https://s3-us-west-2.amazonaws.com/teen-aid/TheAlternative2.jpg'>
</div>
A Project of Teen-Aid<br>
723 E Jackson<br>
Spokane, WA 99207<br>
(509) 482-2868<br>
www.teen-aid.com<br>
<br>
</div>
<div id="maintext">
<p>
    <strong>The Alternative (TA)</strong> will serve families of Washington State with alternative sexual risk avoidance education. A healthy solution to the risks and consequences teens face is teaching life skills that connect teens to their parents and community. TA endorses delaying sexual activity and planning for stable future families. 
</p>
<p>TA welcomes families desiring risk avoidance education This is for families who want to opt their children out of the formal sex education classes but want their children to receive:</p>
<ul>
    <li>relationship skills (communication, boundary setting, decision-making)</li>
    <li>reproductive anatomy </li>
    <li>goal setting</li>
    <li>problem solving</li>
    <li>prevention strategies (refusal skills, situation avoidance, drug/alcohol influence)</li>
    <li>consequences of non-marital sexual activity</li>
    <li>and community resource information</li>
</ul>
<p>
Washington State law requires that schools provide an alternative activity for students who opt out but most schools have no formalized program.
</p>
<p><u>Delivery Methods: </u></p>
<ol>
    <li><strong>High school Health Credit:</strong>Washington State requires all high school graduates to take a health class for .5 credits. The Alternative Project will provide healthy skill-based tools through private schools for families concerned about the content of the required sex education in public schools. The Alternative Project statewide network of private/tutorial schools and home school associations will teach an accredited health education class. Classes will be done remotely. </li>
     <li><strong>At Home Delivery:</strong>Parents will work with their teen on homework assignments, data will be collected to show that an outside-of-public-school classroom model works. The course has 26 lesson options, covering; friendship, dating, careers, reproductive anatomy, drugs, alcohol, nutrition, exercise, media influence, consequences of sexual activity, teen pregnancy, adoption, abortion facts and STD prevention plus a variety of positive relationship building skills, boundary setting, cessation techniques for returning to sexual abstinence outside of a marital relationship, decision making, and communication skills. </li>
      <li><strong>High school Health Credit:</strong>The Alternative for Students and Building Family Connections parent workshops will be offered within the community with the help of leaders or parents wishing to schedule a Friday evening & Saturday workshop covering the above topics in an interactive format.</li>
</ol>
<p><u>Research:</u> Teen-Aid is an experienced abstinence and character education organization founded in 1981. Whitworth University is the outside evaluator of the program for effectiveness. 
Table of Contents available upon request.
</p>

<p>Check all that Apply</p>
            <form class="form-group" id="mainForm" method="post">
                <div class="form-check">
  <input class="form-check-input" type="checkbox" value="I would like to enroll my student in The Alternative Project For high school health credit" name="whatYouWant" id="whatYouWant1">
  <label class="form-check-label" for="whatYouWant1">
    I would like to enroll my student in The Alternative Project For high school health credit
  </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="I would like to enroll my student in The Alternative Project at home delivery with parent(s)"name="whatYouWant" id="whatYouWant2">
  <label class="form-check-label" for="whatYouWant2">
    I would like to enroll my student in The Alternative Project at home delivery with parent(s)
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="I would like to enroll in the Building Family Connections Parenting Class" name="whatYouWant"id="whatYouWant3">
  <label class="form-check-label" for="whatYouWant3">
    I would like to enroll in the Building Family Connections Parenting Class
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="I would like to get the monthly parent newsletter and parenting tools" name="whatYouWant"id="whatYouWant4">
  <label class="form-check-label" for="whatYouWant4">
    I would like to get the monthly parent newsletter and parenting tools
  </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="I would like you to speak to my group" name="whatYouWant"id="whatYouWant5">
  <label class="form-check-label" for="whatYouWant5">
    I would like you to speak to my group
  </label>
  </div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Call me to set a time to meet with me, my organization, church, or education group for a presentation. " name="whatYouWant"id="whatYouWant6">
  <label class="form-check-label" for="whatYouWant6">
    Call me to set a time to meet with me, my organization, church, or education group for a presentation. 
  </label>
</div>

  <br>
<br>
<br>
<br>
<div id="textInputPart">

 <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>


 <div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" id="phone" name="phone"required>
  </div>

   <div class="form-group">
    <label for="studentFirstName">Student First Name</label>
    <input type="text" class="form-control" id="studentFirstName" name="studentFirstName"required>
  </div>


  
   <div class="form-group">
    <label for="studentLastName">Student Last Name</label>
    <input type="text" class="form-control" id="studentLastName" name="studentLastName"required>
  </div>

   <div class="form-group">
    <label for="address">Address</label>
    <input type="text" class="form-control" id="address" name="address"required>
  </div>


   <div class="form-group">
    <label for="city">City</label>
    <input type="text" class="form-control" id="city" name="city"required>
  </div>


   <div class="form-group">
    <label for="state">State</label>
    <input type="text" class="form-control" id="state" name = "state"required>
  </div>


     <div class="form-group">
    <label for="zip">Zip Code</label>
    <input type="text" class="form-control" id="zip" name ="zip"required>
  </div>

  
     <div class="form-group">
    <label for="email">Student Email</label>
    <input type="email" class="form-control" id="email" name="email"required>
  </div>
  


        <div class="form-group">
    <label for="studentTelephone">Student Telephone</label>
    <input type="text" class="form-control" id="studentTelephone" name="studentTelephone" required>
  </div>


  
        <div class="form-group">
    <label for="studentCell">Student Cell Phone</label>
    <input type="text" class="form-control" id="studentCell" name="studentCell" required>
  </div>


        <div class="form-group">
    <label for="age">Student Age</label>
    <input type="text" class="form-control" id="age" name="age"required >
  </div>


        <div class="form-group">
    <label for="grade">Student Grade Level</label>
    <input type="text" class="form-control" id="grade" name='grade'required>
  </div>


<p>Student Sex</p>
<div class="form-check">
  <input class="form-check-input" type="radio" name="gender" id="maleRadio" value="male"required >
  <label class="form-check-label" for="maleRadio">
Male
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="gender" id="femaleRadio" value="female" >
  <label class="form-check-label" for="femaleRadio">
Female
  </label>
</div>
<br>


       <div class="form-group">
    <label for="adultsName">Parent(s)/Adult(s) Name</label>
    <input type="text" class="form-control" id="adultsName"required >
  </div>

     <div class="form-group">
    <label for="parentEmail">Parent/Adult Email </label>
    <input type="email" class="form-control" id="parentEmail" name="parentEmail"required>
  </div>
<p>I am a:</p>
<div class="form-check">
  <input class="form-check-input" type="radio" name="IAmA" id="studentRadio" value="Student"required >
  <label class="form-check-label" for="studentRadio">
Student
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="IAmA" id="parentRadio" value="Parent" required>
  <label class="form-check-label" for="female">
Parent
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="IAmA" id="educatorRadio" value="Educator" >
  <label class="form-check-label" for="educatorRado">
Educator
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="IAmA" id="youthRado" value="Youth Worker" >
  <label class="form-check-label" for="youthRado">
Youth Worker
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="IAmA" id="otherRadio" value="Other" >
  <label class="form-check-label" for="otherRadio">
Other
  </label>
</div>
        <div class="form-group">
    <label for="other">If other please specifi</label>
    <input type="text" class="form-control" id="other" name="other">
  </div>

<input type='submit' value="submit">

</div>{{!-- end form group --}}
<br>
<br>
<br>
<p>You will recieve an email within 2 to 3 business days with more information. Thank you.</p>
<p>Check the website or call for information on upcoming workshops.
All grant services are Free. Non-grant families may participate for a nominal fee. Please call our offices for prices.
</p>
<p style="font-size:.7em">Your information will not be sold and will not be used by any organization but Teen-Aid, who is providing these free services to you and your family.
Funding for this project was provided by the United States Department of Health and Human Services, Administration for Children and Families. Grant:90TS0016/01.  Any opinions, finding, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the United States Department of Health and Human services, Administration for Children and Families.
</p>
            </form>










<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>

<script>
    $(document).ready(function () {


    })//end on load
</script>