<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {{!--
    <header class="masthead mb-auto">
        <div class="inner">
            <h1 class="masthead-brand">TEEN AID</h1>
        </div>
    </header> --}} {{!-- {{#if message}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/if}} --}}
    <div class="container ">
        <h1>Welcome {{message}}</h1>

        <div id="content">
            <a href="/quiz">Quiz</a>
            <br>
            <br>
            <a href="/editor">Question Editor</a>
            <br>
            <br>
            <a href="/users">User Management</a>
            <br>
            <br>
            <a href="/catagoryEditor">Student Type Editor</a>
            <br>
            <br>
            <a href="/answers">Get CSV (Excel) file of answers</a>
            <br>


        </div>
        <!--end content-->
    </div>

    <!-- end container-->


    <footer class="mastfoot mt-auto">
        <div class="inner">
            <div class="stargarnetReferral">
                <p>design by
                    <a target="blank" href="https://www.stargarnet.net/">Stargarnet LLC</a>
                </p>
            </div>
        </div>
    </footer>
</div>

{{!--
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->--}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script src="/jquery.history.js"></script>

<script>
    //setup
    $(document).ready(function () {


    })//end on load
</script>